@charset "utf-8";

// normalize----------
* {
    margin: 0;
    padding: 0;
  }
   
  html {
    font-size: 62.5%;
  }
   
  body {
    font: 500 1.4rem/1.6 "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    color: #4c4c4c;
  }
   
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
  }
   
  p {
    margin-bottom: 1em;
  }
   
  ul {
    list-style: none;
  }
   
  table {
    border-collapse: collapse;
    border-spacing: 0px;
  }
   
  form label {
    cursor: pointer;
  }
   
  a {
    text-decoration: none;
    color: #4c4c4c;
  }
  a:hover, a:active, a:focus {
    color: #b2b2b2;
  }
   
  a img {
    border: none;
  }
   
  .cf:after {
    display: block;
    clear: both;
    content: '';
  }
//  normalize end----------